*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    /* list-style: none;
    gap: 10px; */
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}
nav li:hover{
   background-color: blueviolet;
}