*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto auto;
}
.logo img{
    height: 100px;
    width: 100%;
}
ul li{
    display:inline;
    align-items: center;
    list-style: none;
    margin-left: 20px;
    
}
ul li a{
    color: black;
    text-decoration: none;  
} 
ul li a:hover{
    color: rgb(214, 43, 86);
    border: 1.5px solid yellow;
    padding: 4px 8px;
    border-radius: 12px;
}
ul li a:active{
    color: green;
}
